*{
    font-family: 'Poppins';
}

::-webkit-scrollbar {
    display: none;
}

/* Header Css */

.main-box{
    background-image: url(/public/images/background-hero.png);
    height: 100vh;
}

.nav-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.hero-left h1 {
    font-size: 4em;
    font-family: 'Poppins';
}

.hero-input input {
    border: none;
    width: 100%;
    outline: none;
}

.hero-input {
    background-color: white;
    padding: 20px ;
    width: 110%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-right img {
    width: 85%;
}

/* Popular Css */

.popular-box{
    background-color: #FFF5EC;
}

.title-head{
    display: flex;
    padding: 10px;
    gap: 15px;
    margin-left: 6%;
}

.title-head p{
    font-size:4em;
}

.orange-vertical{
    background-color: #EFC81A;
    width: 15px;
}

.popular-img{
    display: flex;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 100px;
}

.inner-text{
    position: relative;
}

.inner-text p{
    position: absolute;
    bottom: 0;
    left: 5%;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.inner-text img{
    width: 100%;
}

/* New Recipe CSS */

.recipe-box{
    background-color: #FFF5EC;
    height: 90vh;
}

.recipe-img{
    padding-top: 50px;
}


.recipe-left{
    position: relative;
}

.recipe-orange{
    background-color: #EFC81A;
    width: 40%;
    height: 600px;
}

.recipe-left-img img{
   width: 60%;
   position: absolute;
   left: 15%;
   top: 15%;
}

.recipe-right h1{
    font-size: 4em;
}

.recipe-right p{
    font-size: 1.2em;
}

hr {
    width: 10%;
}

/* Popular Recipe CSS */

.popular-recipe{
    background-color: #FFF5EC;
    padding-top: 100px;
    padding-bottom: 50px;
}