/* Header Css */

.main-box{
    background-image: url(/public/images/background-hero.png);
    height: 100vh;
}

.nav-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.hero-left h1 {
    font-size: 4em;
    font-family: 'Poppins';
}

.hero-input input {
    border: none;
    width: 100%;
    outline: none;
}

.hero-input {
    background-color: white;
    padding: 20px ;
    width: 110%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-right img {
    width: 85%;
}

/* Popular Css */

.popular-box{
    background-color: #FFF5EC;
}

.title-head{
    display: flex;
    padding: 10px;
    gap: 15px;
    margin-left: 6%;
}

.title-head p{
    font-size:4em;
}

.orange-vertical{
    background-color: #EFC81A;
    width: 15px;
}

.popular-img{
    display: flex;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 100px;
}

.popular-img img{
    width: 30%;
}

/* New Recipe CSS */

.newrecipe-box{
    background-color: #FFF5EC;
}